target
/lib
*.debug
classes
checkouts
logs
pom.xml
pom.xml.asc
\#*
.\#*
.emacs*
*.class
.password
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
.DS_Store
.dev
.tmpdb.sql
*.rdb
tmp
third-party
local_repo
/data
server-prep
pg_similarity
nohup.out
output
~*
data.tar.gz
